body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.bgcolor-black {
    height: auto; /*auto*/
    width: 100%;
    background-color: #1F1F1F;
    margin:0;
    padding:0;
}

#nav-thread-icon {
    width: 35px;
    margin-left: 14px;
    margin-top: 7px;
}
.crimson-text {
    display: inline;
    color: #C8728C;
}
.plain-link-a{
    color: #b2b2b2;
    text-decoration: none;
}
.plain-link-a:hover{
    color: #dddddd;
    text-decoration: none;
}
.grey-text {
    color: #79747E;
}
.X-app-logo {
    display: inline;
}
.X-app-logo img {
    height: 79px;
    width: 74px;
    transform: translate(-7px, -23px);
}
.blur-ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(95, 47, 47, 0.3);
    box-shadow: 0px 0px 250px 283px rgba(95,47,47,0.3);
}

#blur-ball-1 {
    transform: translate(112px, 450px);
}
#blur-ball-2 {
    transform: translate(1700px, 850px);
}
#blur-ball-3 {
    transform: translate(112px, 1600px);
}
#io-box {
    width: 50%;
    margin: auto;
    padding: 20px 30px 80px 30px;
    border: 1px solid #5A5A5A;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 17px;

}
#result-box {
    margin:auto;
}
.upgrade-btn{
    background-color: #4D4D4D;
    margin-left: 5px;
    padding: 5px 16px 5px 16px;
    border: none;
    border-radius: 6px;
    color: #ffffff;
}
.prompt-btn-row{
    text-align: right;
    padding-top: 8px;
}
.prompt-btns{
    background-color: #4D4D4D;
    width: 150px;
    padding: 10px 16px 9px 16px;
    border: none;
    border-radius: 6px!important;
    color: #ffffff;
}
.upgrade-btn:hover{
    background-color: #585858;
}
.prompt-btns:hover{
    background-color: #585858;
}
.submit-btn-row{
    text-align: center;
}
#submit-btn{
    font-size: 19px;
    background-color: #5E82C9;
    color: #ffffff;
    border: none;
    padding: 8px 24px 8px 18px;
    border-radius: 6px;
    margin-right: 15px;
}
#submit-btn:hover{
    background-color: #7192DD;
}
#export-btn{
    font-size: 23px;
    color: #A8A8A8;
    background-color: #373737;
    border: none;
    border-radius: 8px;
    padding: 10px 25px 10px 25px;
}
#export-btn img{
    width: 23px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.promt-sec{
    padding-top:10px;
}
.prompt-key{
    font-size: 19px !important;
}
#prompt-box{
    margin: 50px 30px 20px 50px;
    padding:30px 60px 40px 30px;
    margin-top: 80px;
    background-color: #373737;
    border-radius: 20px;
}
#prompt-box img {
    width: 24px;
    margin-bottom: 2px;
    margin-right: 9px;
}
#prompt-box label{
    padding-top: 15px;
    padding-left: 26px;
    color: #D5D3D3;
    font-size: 15px;
    font-weight: 300;
}

.prompt-inner-box input{
    height: 46px;
    width:100%;
    padding-bottom: 3px;
    padding-left: 12px;
    color: #D5D3D3;
    font-size: 18px;
    background-color: inherit;
    border: none;
}
.prompt-inner-box input:focus{
    outline: none;
}

.prompt-inner-box {
    height: 47px;
    margin: auto;
    margin-top: 6px;
    border: 1px solid #747474;
    border-radius: 8px;
}
#tick-mark-icon {
    height: 25px;
    width: 10%;
    margin-top: 18px;
    padding-bottom: 4px;
    margin-left: auto;
    cursor: pointer;
}
.tick-mark-svg {
    display: flex;
    justify-content: right;
}
.tweet-box {
    width: 80%;
    background-color: #000;
    border-radius: 11px;
    color: #fff;
    margin: auto;
    margin-top: 0px;
    padding: 40px 40px 20px 40px;
    box-shadow: 20px 20px 105px -26px rgba(95,47,47,0.5);
}
#result-box {
    padding-top: 30px;
}
.tweet-box label{
    display: flex;
    justify-content: end;
    color: #5A5A5A;
}
.tweet-connector {
    background-color: #5F5F5F;
    height: 23px;
    width: 3px;
    margin-left: 170px;
}
.get-started-btn {
    height: 70px;
    width: 245px;
    border-radius: 81px;
    color: #BBBBBB;
    text-align: center;
    padding-top:20px;
    font-size: 20px;
    margin: auto;
    background-color: #000;
    box-shadow: 0px 0px 100px 0px rgba(154,60,60,0.25);
    cursor: pointer;
}
.get-started-btn:hover {
    height: 70px;
    width: 245px;
    background-color: #000;
    box-shadow: 0px 0px 100px 25px rgba(154,60,60,0.25);
}
.get-started-btn label{
    cursor: pointer;
}
.get-started-btn label:hover{
    color: #bbb;
}
#footer {
    width: 100%;
    height: 204px;
    margin-top: 150px;
    background-color: #000;
    box-shadow: 0px 0px 42px 4px rgba(0,0,0,0.5);
}
#quick-links {
    margin-left: 300px;
    margin-top: 35px;
    font-size: 17px;
}
#quick-links label{
    font-size: 23px;
    margin-bottom: 9px;
    color: #fff;
}
.footer-links {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
}
.footer-links:hover {
    color: #ccc;
}
#quick-link-design-bar {
    height: 55px;
    width: 2px;
    background-color: #606060;
    transform: translate(8px, -52px);
}
#quick-link-design-ball {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #606060;
    transform: translate(4px, -52px);
}
#footer-socials {
    width: 30px;
    height: 30px;
    margin: auto;
}
.x-social-svg {
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.x-social-svg:hover {
    background-color: #333;
}
#footer-copyright {
    width: 210px;
    color: #fff;
    margin: auto;
    transform: translateY(-29px);
    font-size: 15px;
}

#result-status-screen{
    height: 220px;
}
.error-icon {
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 90px;
}
.error-icon-svg {
    height: 50px;
    width: 50px;
    margin: auto;
}
.loading-animation {
  margin: auto;
  margin-top:100px;
  border: 5px solid #606060;
  border-radius: 50%;
  border-top: 5px solid #ddd;
  /*border-bottom: 5px solid #C8728C;*/
  width: 30px;
  height: 30px;
  animation: spinner 1s linear infinite;
}
#status-msg {
    color: #606060;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 1500px) {
    #io-box {
        width: 70%;
    }
}
@media only screen and (max-width: 900px) {
.blur-ball {
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: rgba(95, 47, 47, 0.3);
    box-shadow: 0px 0px 250px 283px rgba(95,47,47,0.3);
}
.prompt-btn-row{
    text-align: left;
    padding-top: 10px;
    padding-left: 50px;
}
.X-app-logo{
    display: block;
    transform: translateY(28px);
}
#io-box {
    width: 95%;
    margin: auto;
    padding: auto;
    margin-bottom: 40px;
    margin-top: 80px;
}
.tweet-box {
    width: 90%;
}
#quick-links {
    margin-left: 21px;
}
#io-box {
    padding-top: 30px;
    padding-left: 12px;
    padding-right: 12px;
    border:none;
    /*border-radius: 10px;*/
}
.submit-btn-row{
    margin-top: 30px;
    text-align: center;
}
#submit-btn{
    margin-left: 22px;
    margin-right: 0px;
}
#topic-prompt-box{
    width: 100%;
    margin: auto;
    border-radius:10px;
}
.prompt-inner-box {
    margin-left: 30px;
}
#blur-ball-2 {
    display: none;
}
}
